@using SSSM.Mvc.Infrastructure
@model StudentModel
@{
    ViewData["Title"] = $"学生中心 - 编辑（{Model.Name}.{Model.InnerCode})";
    var repository = ViewData["repository"] as StudentRepository;
}

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">选课情况</span>
                <span class="badge badge-secondary badge-pill">@Model.Courses.Count</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var item in Model.Courses)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.Name</h6>
                            <small class="text-muted">@item?.Major.Name</small>
                        </div>
                        <span class="text-muted">@*成绩*@</span>
                    </li>
                }
            </ul>
            <div class="card p-2">
                <a asp-host="Course" asp-action="PersonalSelect" asp-route-id="@Model.Id" class="btn btn-secondary text-light">去选课</a>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" alt="..." src="@Model.PhotoPath" asp-append-version="true">
                            <div class="card-body">
                                <button class="btn btn-primary btn-sm">更改</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList(typeof(Gender))"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IDNumber" class="control-label"></label>
                    <input asp-for="IDNumber" class="form-control" />
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <hr class="mb-4" />
                <div class="form-group">
                    <label asp-for="InnerCode" class="control-label"></label>
                    <input asp-for="InnerCode" class="form-control" />
                    <span asp-validation-for="InnerCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollmentDate" class="control-label"></label>
                    <input asp-for="EnrollmentDate" class="form-control" />
                    <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="PhotoPath" />
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <input type="submit" value="保存" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>