@{
    Layout = "_Layout";
    ViewData["Title"] = "管理中心";
}

@section Styles{
    <link href="~/css/management.css" rel="stylesheet" />
}

<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-action="SchoolGrades">年级配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="SchoolClasses">班级配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Majors">专业配置</a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"></h6>
        </div>
    </nav>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        @RenderBody()
    </div>
</div>