@model List<SchoolGradeModel>
@{
    var index = 1;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h5>年级</h5>
</div>
<div class="container">
    <form method="post" asp-action="SchoolGradesCreate" class="card p-2 mb-3 shadow-sm needs-validation">
        <div class="input-group">
            <input type="text" value="" name="gradename" class="form-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>
        </div>
    </form>

    <div class="row">
        <table class="table-sm table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sg in Model)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>@sg.Name</td>
                        <td>
                            <a asp-action="SchoolGradesDelete" asp-route-id="@sg.Id" class="btn btn-sm btn-outline-danger">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>